{% extends 'index.html' %}
{% block head %}
    <link rel="stylesheet" href= "../static/css/bag.css">
    <title>Корзина</title>
{% endblock %}
{% block content %}
<h1>Корзина</h1>
<table>
  <tr>
    <th>Наименование</th>
    <th>Цена</th>
    <th>Кол-во</th>
    <th>Итого</th>
  </tr>

    {% for good in goods_to_html%}
    <form action="/bag"  method='POST'>
    <tr>
      <input type="hidden" value="{{good['good_id']}}" name='item_id'>
      <td>{{good['name']}}</td>
      <td>{{good['price']}} руб</td>
      <td>{{good['amount']}}</td>
      <td><img src="../static/images/{{good['image_path']}}"  width="135" height="90" /></td>
      <td>{{good['total']}}</td>
      <td><button name = "delete" type = "submit">Удалить</button></td>
    </tr>
    </form>
    {% endfor %}

</table>
<div>
  Общая сумма {{total_summ}}
    <form action="/bag"  method='POST'>
      <button name = "order" type="submit">К оплате</button>
    </form>
</div>

{% endblock %}