{% extends 'index.html' %}
{% block head %}
    <link rel="stylesheet" href= "../static/css/products.css">
    <title>Продукты</title>
{% endblock %}
{% block content %}
<table>
    <tr>
      <th>Наименование</th>
      <th>Описание</th>
      <th>Цена</th>
      <th>Кол-во</th>
    </tr>
    {% for good in goods_to_html%}
    <form action="/products"  method='POST'>
    <tr>
      <input type="hidden" value="{{good['good_id']}}" name='item_id'>
      <td>{{good['name']}}</td>
      <td>{{good['price']}} руб</td>
      <td>{{good['description']}}</td>
      <td>1 шт.</td>
      <td><img src="../static/images/{{good['image_path']}}"  width="135" height="90" /></td>
      <td><button type = "submit">В корзину</button></td>
    </tr>
    </form>
    {% endfor %}
  </table>
{% endblock %}
